#price {
    width: 100%;
    background-color: #415A77;

    display: flex;
    flex-direction: row;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;

    padding: 25px 0;
    
}

#price img {
    width: 40%;
    padding: 30px;

    object-fit: contain;

    border-radius: 75px;
}

#price p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
}

#desc {
    margin-bottom: 40px;
}

@media screen and (max-width: 800px) {

    #price {
        flex-direction: column;
    }

    #price img {
        width: 90%;
        margin: 0;
    }

    #desc {
        margin-bottom: 0;
    }
}
